
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин цветов</title>
</head>
<body>
    <div>
        <h3>Цветы в подарок</h3>
        <table>
            <tr>
                <td><p>Название цветка</p></td>
                <td><p>Описание</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var f in ViewBag.Blossoms)
            {
                <tr>
                    <td><p>@f.Name</p></td>
                    <td><p>@f.Description</p></td>
                    <td><p>@f.Price</p></td>
                    <td><p><a href="/Home/Buy/@f.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>